[2015-11-09 18:21] leftyb opened #1 "Retrieve the docker instance stats (CPU, Heap usage, etc) using docker Rest API."
Docker provides a stats Rest Api to retrieve necessary information about means usage.
http://docs.docker.com/engine/reference/api/docker_remote_api/

http://docs.docker.com/engine/reference/commandline/stats/

[2015-11-12 16:53] leftyb opened #2 "Add Logs for media server on host."
Need to add logs of mediaserver on host /var/log/restcomm.
Same as with restcomm logs at var/log/restcomm directory of the host.

[2015-11-12 17:04] deruelle commented on #2
the logs of MMS are available at docker exec telscale-restcomm tail -f  /opt/TelScale-Restcomm-JBoss-AS7/mediaserver/log/server.log

[2015-11-12 17:04] deruelle commented on #2
the logs of Restcomm are available at /var/log/restcomm/mss-server.log

[2015-11-12 22:41] leftyb opened #3 "Fix tcpdump log rotation."
There is  a problem on the naming of the log files that are created from tcpdump at /var/log/restcomm.

As well need a cron process to keep a week's logs.

[2015-11-12 22:51] leftyb commented on #2
Yes I meant, "same as restcomm logs at var/log/restcomm directory of the host". Sorry for the misleading comment (edit it).

[2015-11-14 13:24] leftyb commented on #3
Fixed, the name of the tcpdump log files are updated  to the current date and time.
It is set to create a new lof file every 6 hours . Every log file is about 75 mb.

[2015-11-14 13:25] #3 closed

[2015-11-14 13:28] leftyb opened #4 "Add cronjob to clean up logs created from TCPDUMP."
We will keep a weeks tcpdump logs at /var/log/restcomm.
A cron job added to restcomm.  /etc/cron.d/telscale-cron

[2015-11-14 13:28] #4 closed

[2015-11-14 13:31] leftyb opened #5 "Rearrange and retructure, restcomm docker configuration and run scritps."
Need to use docker facilities to configure and run Restcomm instanse.

[2015-12-09 14:57] hrosa opened #6 "Support for Load Balancer"
Hello,

Does the restcomm docker image support integration with load balancer?
If not, what is the effort required to implement this? Is this task already in the RestComm roadmap?

Thanks,
- H

[2015-12-11 15:14] gvagenas opened #7 "Support for Generic SMPP link"

[2015-12-11 15:18] #7 closed

[2015-12-11 15:19] gvagenas opened #8 "Proper configuration for self-signed certificates"

[2015-12-12 16:05] #8 closed

[2015-12-16 11:39] hrosa opened #9 "Add configuration parameters for Media Server"
Regarding RestComm + XMS integration, we need the docker CLI to expose new configuration parameters:
- MS_COMPATIBILITY (mms or xms)
- MS_ADDRESS

Also, because XMS has to run in a separate instance, we need to be able to configure the paths or uri for audio, cache and recording. We can either expose this via configuration parameters for the user to setup manually, or we can have RestComm working

[2015-12-30 16:25] atsakiridis opened #10 "Cannot get RestComm docker image to work in OSX"
Followed the docker guide for OSX at https://docs.docker.com/v1.8/installation/mac/

Docker installation went smoothly and docker 'hello-world' worked fine. Then I installed mobicents/restcomm:latest from docker hub and tried to bring it up with the command found in this repo for secure installation:

[code]

First issue I got is:

[code]

Which seemed like an issue with the port mapping for port

[2016-01-07 11:07] atsakiridis commented on #10
After some more troubleshooting, seems that restcomm-start/stop.sh scripts are not executable for some reason. So when I manually make them executable and run restcomm-start.sh RestComm seems to come up without issues, but the problem is that when starting with restcomm-start.sh, the port mapping used in the docker run command line isn't respected and instead ports 5080-5083 are used for sip signa

[2016-01-08 15:16] atsakiridis commented on #10
I finally managed to make RestComm docker image work on OSX but using a different approach. Instead of following the official guide (with which I had the issues described above), I just used a new Virtual Box VM where I installed an Ubuntu Server image and then installed docker, etc. Please check:

https://github.com/Mobicents/Restcomm-Docker/blob/master/README.md#running-restcomm-docker-image-in-

[2016-01-18 17:52] leftyb opened #12 "Improve restcomm-docker as in telscale"

[2016-01-20 08:41] deruelle commented on #12
The goal of this is to improve the end user experience by allowing to have a number of variables preset by default so that everything works out of the box without any tinkering.

The docker image will fetch a configuration file for reading all variables. Those variables can be overriden by providing them via -e as usual.

The docker image will create a self signed certificate if needed for develop

[2016-01-20 14:19] deruelle opened #13 "On new image if you don't specify the -v it bombs"
The script should be able to check if the -v was set or if the /var/restcomm/data/restcomm exists to avoid this problem

https://gist.github.com/deruelle/9abb95603c874e4690c9

[2016-01-20 14:22] deruelle opened #14 "If RESTCOMM_HOST is set, RMS has issues with certificates"
See https://gist.github.com/deruelle/16d95c8f1c17a1f3ce89, same as issue raised at https://groups.google.com/d/msg/restcomm/wJJC29sLOCc/No9fa8aIEAAJ

[2016-01-20 14:25] deruelle opened #15 "If RESTCOMMHOST is not specified RestComm recording links are broken"
https://5c2069793c57/restcomm/recordings/REd3d232237619421f843888b4bd147a46.wav

the docker image messes up the ip and port and put some random hostname instead that comes from docker itself.

Need to fix that with if -e HOSTNAME not defined then use STATIC_ADDRESS

[2016-01-20 14:33] deruelle opened #16 "Can't register to Olympus with Firefox"
It throws https://gist.github.com/deruelle/28d7ef17251b07f53506

This seems tied to https://github.com/RestComm/Restcomm-Docker/issues/15 where it seems to be using some docker generated random hostname. I think we should use the STATIC_ADDRESS if HOSTNAME or RESTCOMMHOST is not defined for generating the certificate

[2016-01-20 14:39] leftyb opened #17 "Prioritize the ENV variable set from RUN command."
If an environmental variable is set to both ENV_FILE and the RUN command use the one set at the RUN command.

[2016-01-20 16:05] leftyb opened #18 "Add possibility to use local file for ENV_CONF_FILE."
At the moment can only use remote destination to pull END_CONF_FILE. Add functionality for local file as well.

[2016-01-21 13:24] deruelle opened #19 "Investigate Let's Encrypt certificates instead of self signed certificates"
We can investigate those free certificates, hopefully they have an API that could be used to generate a certificate on the fly to be included in the docker script and stored on the host for later reuse https://letsencrypt.org/

[2016-01-21 23:04] leftyb commented on #18
For this issue we can use the option that docker provides :
[docker](https://docs.docker.com/engine/reference/commandline/run/)

`--env-file=[]                 Read in a file of environment variables`

So need to create a file (I created on at the Restcomm-docker repository as a template)
[file](https://github.com/RestComm/Restcomm-Docker/blob/issue12/scripts/restcomm_localenv_basic)

And the can

[2016-01-21 23:23] leftyb commented on #16
###Knowing Issue on Firefox###
It is possible that you will not be able to log in to olympus the first time that you will try to connect using Firefox.
To fix this problem please follow the solution provided by [**Faisal Mq**](http://stackoverflow.com/users/379916/faisal-mq)
on [**http://stackoverflow.com/**](http://stackoverflow.com/questions/11542460/secure-websocket-wss-doesnt-work-on-firefox).

[2016-01-21 23:31] leftyb commented on #14
The problem was that RESTCOMMHOST was set with an IP. To set the IP must use STATIC_ADDRESS  option.

[2016-01-22 10:42] deruelle commented on #15
Just tested the new image I confirm this is fixed

[2016-01-22 10:42] #15 closed

[2016-01-22 10:42] deruelle commented on #13
I just checked the new image, I confirm this is fixed

[2016-01-22 10:42] #13 closed

[2016-01-22 10:54] deruelle commented on #18
I tried the local file provided but it fails to start with https://gist.github.com/deruelle/f73dd437f7c87ff1bbb6 when doing this docker run command:
`docker run -i --name=restcomm -v /var/restcomm/:/var/restcomm/ -v /var/log/restcomm:/var/log/restcomm/ --env-file="/home/jean/temp/restcomm_localenv_basic" -e STATIC_ADDRESS="192.168.0.44" -p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p

[2016-01-22 11:05] deruelle commented on #16
Confirmed, let's document this in the README and mark it as Closed

[2016-01-22 11:08] deruelle commented on #16
I see it's already documented in https://github.com/RestComm/Restcomm-Docker/commit/3bc210564bb9717ad33ef134b3b5c32cbce97542, so closing

[2016-01-22 11:08] #16 closed

[2016-01-22 11:08] leftyb commented on #16
Added to README file:
https://github.com/RestComm/Restcomm-Docker/tree/issue12#knowing-issue-on-firefox

On Fri, Jan 22, 2016 at 1:05 PM, Jean Deruelle notifications@github.com
wrote:

##

##

Lefteris Banos
Restcomm - DevOps
TeleStax Inc.
Email: eleftherios.banos@telestax.com

[2016-01-22 11:09] deruelle commented on #17
I tried passing secure=false as in command below but I could still connect to https://192.168.0.44/olympus

`docker run --rm -i -t --name=restcomm   -v /var/log/restcomm:/var/log/restcomm/  -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/issue12/scripts/restcomm_env_basicAmazon.sh" -e SECURE="false" -e STATIC_ADDRESS="192.168.0.44"  -p 80:80 -p 443:443 -p 9990:9990 -p 506

[2016-01-22 11:29] deruelle commented on #17
I tested the VOICERSS_KEY this was well overriden.
As discussed let's allow SECURESSL=FALSE before closing this issue

[2016-01-22 11:57] deruelle commented on #18
Retested. works great without the double quotes

[2016-01-22 11:57] #18 closed

[2016-01-22 17:19] leftyb opened #20 "Update documentation on docker at telestax web."
Here:
http://www.telestax.com/rapid-webrtc-application-development-with-restcomm-and-docker/

As well need to add a proper documentation on running docker using our open docker image.
Need to coordinate with @atsakiridis  and @croufay on that.

As well need to update README on Restcomm-docker repository.
https://github.com/RestComm/Restcomm-Docker

[2016-01-25 15:44] leftyb opened #21 "Fix DB creation and population on docker container - when container run for first time."
Need to update with latest init.sql script.
Need to modify the name of the DB inside script to create the DB.

[2016-02-01 09:58] leftyb opened #22 "Docker file container size optimization."
We need to provide a more "light weight" container for the community users and for our own better production experience.
There are various technics to reduce the size of the container.

https://www.ctl.io/developers/blog/post/optimizing-docker-images/
http://www.developer.com/design/a-guide-to-docker-image-optimization.html
http://blog.tutum.co/2014/10/22/how-to-optimize-your-dockerfile/

[2016-02-01 14:05] atsakiridis opened #23 "LOG_LEVEL docker environment variable doesn't seem to affect Media Server logging"
I tried using `-e LOG_LEVEL="DEBUG"` when starting the container but MS is not showing DEBUG logs.

Also, I noticed that by default Restcomm logs are DEBUG when using docker. I think we need to change that to have less log output, that might affect performance among other things.

[2016-02-03 09:23] arslan70 opened #24 "Starting container with SSL support"
I am getting the following exception while starting the container with SSL support.

**ERROR [gov.nist.javax.sip.SipStackImpl] (MSC service thread 1-2) could not instantiate SSL networking: java.io.FileNotFoundException: /opt/Mobicents-Restcomm-JBoss-AS7/standalone/configuration/restcomm-combined.jks (No such file or directory)**

Container is started with the following arguments

**sudo docker ru

[2016-02-03 09:49] leftyb commented on #24
Hi @arslan70

There are various issues at the command you are using:

1.)  You can not use both -t & -d , please use one of those (-d= detached , -t = Allocate a pseudo-tty).
     refer here [docker run](https://docs.docker.com/engine/reference/run/).
 2.) You can not use `HOSTNAME` (HOSTNAME not used anymore, it is RESTCOMMHOST, but you don't need it in your case) to set the IP, please use `STATI

[2016-02-04 12:18] deruelle commented on #22
http://thenewstack.io/microcontainers-iron-ios-new-hack-shrink-docker-containers/
I think it's worth investigating at some point indeed
our docker image is too monolithic
ideally we should layer it better
create one for SIP Servlets that's layered on top of JBoss one
and create the REstComm one layered on top of SIP Servlets
when we think of it
true, but I wonder at what cost all this comes...
we

[2016-02-04 14:45] deruelle commented on #22
Breakdown of our usage https://imagelayers.io/?images=mobicents%2Frestcomm:latest

[2016-02-04 15:35] leftyb commented on #22
Amazing application.

Thank you Jean.

[2016-02-04 17:39] antonmry opened #25 "Problem with authentication in Restcomm"
I'm trying this tutorial: http://docs.telestax.com/restcomm-docker-quick-start-guide/ and having some problems. I'm launching restcomm with the following command:

[code]

I'm able to login to the admin, but when I try to login with the alice, Olympus returns an authentication error. If I try to change the Alice password, Restcomm ends the administrator session.

Looking with "docker logs", there

[2016-02-04 17:45] croufay commented on #25
antonmry,

I noticed that you are using Firefox, did you get the same issue using Chrome?

Charles

[2016-02-04 17:54] atsakiridis commented on #25
Right, also there's an issue with Firefox that doesn't allow you to accept
a self-signed certificate when contacting a wss:// link. I assume you are
using https, right? If so you can find a workaround here:

https://bugzilla.mozilla.org/show_bug.cgi?id=594502

Moreover keep in mind that the STATIC_ADDRESS should be the ip of the host,
not the container, if you want to use the container externally

[2016-02-04 18:18] antonmry commented on #25
I tested again with alice and chrome and the Ethernet IP... you are right, I'm able to login now as alice... but if I try as administrator change the Alice password, the admin session is over and the following exception appears in the log:

[code]

[2016-02-05 07:26] otsakir commented on #25
Anton, there are parts in the AdminUI work-flow that rely on RVD and it seems that the later has problem contacting Restcomm, hence the 'No route to host' exception.

Please do the following to help us pinpoint the problem:
1. Evaluate whether RVD login and common operations like create/remove a project work and if there any exception thrown ? Chances are, they won't.
2. For the sake of clarity, p

[2016-02-05 09:49] antonmry commented on #25
Hi @otsakir

Thanks for your support. Here the answers:
1. You are right, I'm not able to login to the RVD. See the exception in point 4. It seems Restcomm is using the ethernet IP internally instead of the docker instance IP, so it fails. Why are you using STATIC_ADDRESS? Because of AWS maybe?
2. This is the command I'm using:

[code]
1. My IPs:
- Ethernet Interface: 172.20.34.63
- Docker Interfa

[2016-02-05 10:49] leftyb commented on #25
Hi @antonmry,

Please make sure that you are using the latest container (docker pull mobicents/restcomm:latest),

Then try to run:
`docker run --rm -i -t --name=restcomm-myInstance -v /var/log/restcomm/:/var/log/restcomm/ -e STATIC_ADDRESS="172.20.34.63" -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/scripts/restcomm_env_locally.sh" -p 80:80 -p 443:443 -p 9990:999

[2016-02-07 10:23] rafiql opened #26 "container not running"
I had a running container using below command which suddenly stopped working:
docker run -e VOICERSS_KEY="ad1d87dbe3734e4e8a1cc14e67210d79" --name=restcomm -d -e STATIC_ADDRESS="54.249.98.150" -p 8080:8080 -p 5080:5080 -p 5082:5082 -p 5080:5080/udp -p 65000-65535:65000-65535/udp gvagenas/restcomm:7.3.0

while I am trying create a new one with same command I am getting error
FATA[0006] Error respon

[2016-02-07 16:10] leftyb commented on #26
Hi @rafiql ,

Are you using any kind of firewall (e.g. iptables)? If yes please try to disable and test again.
As well have a look [here](https://fralef.me/docker-and-iptables.html)
Please provide which Linux distribution you are using, and docker version ($ docker version).

Best Regards,
Lefteris.

[2016-02-08 04:10] rafiql commented on #26
Thanks Lefteris. It is ubuntu instance in AWS and necessary ports are open. Docker Client version: 1.6.2,  Server version: 1.6.2.

[2016-02-08 08:26] rafiql commented on #26
hi there, any other containers are running fine!!!

[2016-02-08 09:03] leftyb commented on #26
Hi @rafiql,

It is strange ...
I managed to run the container normally in amazon AMI (amazon Linux) and docker (1.9.1) .
Can you please send the output of :

sudo iptables -L

Looks like the the "Chain DOCKER" is missing.

You must see something like that at the output:
`DOCKER     all  --  anywhere             anywhere`
`Chain DOCKER (1 references)
target     prot opt source               destina

[2016-02-08 09:09] rafiql commented on #26
ubuntu@ip-172-31-15-247:~$ sudo iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
DOCKER     all  --  anywhere             anywhere
ACCEPT     all  --  anywhere             anywhere             ctstate RELATED,ESTABLISHED
ACCEPT     all  --  anywhere             anywhere
A

[2016-02-08 09:13] leftyb commented on #26
Hi @rafiql
Did you restarted docker daemon?
iptables looks fine.

Can you please also provide the docker logs.

Thank you.

[2016-02-08 09:19] rafiql commented on #26
ubuntu@ip-172-31-15-247:~$ service docker status
docker start/running, process 883
ubuntu@ip-172-31-15-247:~$

[2016-02-08 09:22] rafiql commented on #26
root@ip-172-31-15-247:~# service docker stop
docker stop/waiting
root@ip-172-31-15-247:~# service docker status
docker stop/waiting
root@ip-172-31-15-247:~# service docker start
docker start/running, process 27910

[2016-02-08 09:31] leftyb commented on #26
Hi @rafiql

I manage to run normally the same container in both locally (ubuntu) and amazon AMI (amazon Linux), using docker client (1.9) & docker server (1.9).

Please try to update your docker server & client to a newer version > 1.8 (latest version 1.9).
Please try to stop any other container that you might running because you may have a port conflict there.

Another possible solution is to  tr

[2016-02-08 09:47] rafiql commented on #26
now i kept other containers stopped. let me update. can you please also advise do i need add any port e.g. 443 in my command?

docker run -e VOICERSS_KEY="ad1d87dbe3734e4e8a1cc14e67210d79" --name=restcomm -d -e STATIC_ADDRESS="54.249.98.150" -p 8080:8080 -p 5080:5080 -p 5082:5082 -p 5080:5080/udp -p 65000-65535:65000-65535/udp gvagenas/restcomm:7.3.0

[2016-02-08 10:11] leftyb commented on #26
@rafiql
Your command looks fine,  but due to RestComm updates we consider tag 7.3.0 as obsolete. You need to use latest versions to properly run RestComm on docker.

We have moved all community docker containers at "restcomm/restcomm" public hub repository. Please delete the old restcomm images that you are using, and pull the new image.
[Here](http://docs.telestax.com/restcomm-docker-quick-start-

[2016-02-08 13:46] rafiql commented on #26
Docker version is 1.10.

[2016-02-09 10:08] antonmry commented on #25
Hi @leftyb

I've repeated all the process, you can find it recorded here: https://asciinema.org/a/35978

 I hope it helps.  You can copy&paste from the video.

The first time I've introduced a wrong password. Then, log in as administrator, change the password, try to change Alice password and log in in the RVD.

Is this something happening only to me?

[2016-02-09 10:16] antonmry commented on #25
If I run

And I access to https://172.17.0.2 with Chrome, all works well.

[2016-02-09 13:53] leftyb commented on #26
Hi @rafiql ,

Can you please provide the `docker version`

[2016-02-09 13:58] rafiql commented on #26
Docker version is 1.10.

[2016-02-09 14:02] leftyb commented on #26
Can you please provide for both client and daemon, or both are the same?

Please provide  with the entire output of the command  `docker version`
As well please provide the output for `free -m`
As well please provide the output for  `docker --debug info`

[2016-02-09 19:49] leftyb commented on #25
Hi @antonmry,

Nice to hear that everything works.  If you want to run the container without all the starting log information  remove `-t` (foreground)  with `-d` (detach) and as well remote `--rm`.

Best regards.

[2016-02-11 04:32] rafiql commented on #26
ubuntu@ip-172-31-2-81:~$ docker --debug info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 4
Server Version: 1.10.0
Storage Driver: devicemapper
 Pool Name: docker-202:1-524478-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: ext4
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 2.694 GB
 Data Space Total: 107.4 GB
 Data Space Available:

[2016-02-11 09:29] leftyb commented on #26
Hi @rafiql ,

Thank you for the information, but as well I have asked you  to send me the exact output of this  command  `docker version` . Please add this output as well.

Apart from that please send us the logs of the docker daemon itself. Usually in Ubuntu OS the daemon logs are located at Ubuntu - /var/log/upstart/docker.log.

Then please stop docker daemon and run with debug option `sudo dock

[2016-02-11 10:58] rafiql commented on #26
Please check email

[2016-02-12 08:43] hamsterksu opened #29 "shell scripts refactoring"
hi everybody,

this project has a lot of shell scripts. i think we  should create rules for scritp's files names
and content of these scripts make some refactoring
i see 3 big issue:

### 1. Scripts' content
now some scrips combine different logic. example - *restcomm_toolsconf.sh* - seems it configure 3 different tools. maybe we should split them to 3 different files.

### 2. Extra shell subcomma

[2016-02-12 10:43] deruelle commented on #29
@leftyb can you review this ? "some scripts modify another scripts from current project and even Restcomm distribution." seems pretty bad, as discussed the Docker image should only modify restcomm.conf, anything else that should be modified should be done directly on the Restcomm-Core repository configuration shell scripts, where is the relevant issue for that ?

[2016-02-13 10:43] motoki01 opened #31 "When using the RestCommDocker, it does not work with the restart of the OS(CentOS6)."
Hello, I'm Motoki.
When using the RestCommDocker, it does not work with the restart of the OS(CentOS6).
Place the log at that time.
[restcomm_core.zip](https://github.com/RestComm/Restcomm-Docker/files/129053/restcomm_core.zip)

[2016-02-13 10:59] gvagenas commented on #31
Hi @motoki01 , can you please elaborate on what is the problem?

What do you mean it doesn't work after restart of the OS?

Please provide description of the problem with as many details as you can and step by step instructions so I will try to replicate the problem

[2016-02-16 13:57] s-schumann commented on #26
I had the same issue just now and can confirm correlation of it happening on empty system with 4GB due to the RTP port range. Spawns too many Docker processes for port mapping. Reducing it solved it for me - perhaps a small note should be added here as well: http://www.telestax.com/rapid-webrtc-application-development-with-restcomm-and-docker/
Sebastian

[2016-02-16 15:07] leftyb commented on #26
Thank you @s-schumann for the heads-up, we will update the documentation.

[2016-02-16 20:50] hamsterksu commented on #26
if you run docker in bridge mode and try to expose a lot of port it will create a lot of docker-proxy processes. it's known bug of docker - https://github.com/docker/docker/issues/8539
so **solution 1** - use small range or ports **solution 2** - use host mode for docker run `docker run  --net host`

[2016-02-16 22:03] hamsterksu opened #32 "integration with mysql"
Hi everybody,

if i want to use external mysql database. should i create schema manually?
i haven't had script/code which creates schema for me.

**UPD**: seems we have **populate-update-mysqldb**  but my database is empty

Thanks,

[2016-02-16 22:26] hamsterksu commented on #32
well this script returns error

[code]

my mysql version is

[code]

[2016-02-16 22:30] hamsterksu commented on #32
your script `restcomm_conf.sh` corrupts sql script

[code]

you forgot `;` in replacement statement

[2016-02-16 22:44] hamsterksu commented on #32
Fix
1. no need to patch **populate-update-mysqldb.sh** there are no schema name
2. second sed statement

[code]

[2016-02-16 23:15] leftyb commented on #32
@hamsterksu,
Thank you for testing and catching this problem, please open an issue and provide a pull request for the fix.

[2016-02-17 00:22] s-schumann commented on #26
Thanks @hamsterksu did not know about solution 2 or that it is a known thing in docker. Encountered the issue 1st time. Very useful hint.

[2016-02-17 07:25] hamsterksu commented on #26
@s-schumann
**option 3** create custom network overlay for docker and use it for restcomm cluster
but in this you have setup some gateway in front of cluster

[2016-02-17 12:56] #32 closed

[2016-02-23 13:54] #25 closed

[2016-02-23 13:56] leftyb commented on #23
Fixed.

[2016-02-23 13:56] #23 closed

[2016-02-23 13:57] leftyb commented on #24
Closing due to inactivity.

[2016-02-23 13:57] #24 closed

[2016-02-23 13:58] leftyb commented on #2
Done.

[2016-02-23 13:58] #2 closed

[2016-02-23 13:58] #5 closed

[2016-02-23 13:59] leftyb commented on #6
need to apply PR #30

[2016-02-23 14:00] leftyb commented on #10
@atsakiridis  can we close this issue?

[2016-02-23 14:01] leftyb commented on #12
Done with the refactoring of the container scripts. #5

[2016-02-23 14:01] #12 closed

[2016-02-23 14:01] #14 closed

[2016-02-23 14:02] #17 closed

[2016-02-23 14:05] leftyb commented on #19
Fixed no need for this workaround.

[2016-02-23 14:05] #19 closed

[2016-02-23 14:07] leftyb commented on #21
fixed #33

[2016-02-23 14:07] #21 closed

[2016-02-23 14:28] ibstelix opened #37 "Issue on port forwarding for HTTPS (443)"
Hi,
using port forwarding for HTTPS (with any other port number than 443) make impossible to connect to RVD.
the traffic is seen as plaintext instead of ssl traffic.
The error message in the logs is as follows:
Caused by: javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?
	at sun.security.ssl.InputRecord.handleUnknownRecord(InputRecord.java:671) [jsse.jar:1.7.0_80]
	at sun

[2016-02-23 18:08] leftyb commented on #37
Fixed. #38

[2016-02-23 18:08] #37 closed

[2016-03-18 13:30] hrosa commented on #10
@leftyb @atsakiridis I managed to have restcomm docker working on OSX.
Followed this article for docker installation: https://docs.docker.com/engine/installation/mac/

We do need to update the docker quick starting guide for OSX, because there are some caveats. Docker architecture is slightly different between Linux and OSX.

[2016-03-18 13:32] hrosa opened #44 "Update quick start guide for OSX"
Followed this article for docker installation: https://docs.docker.com/engine/installation/mac/

We do need to update the docker quick starting guide for OSX, because there are some caveats. Docker architecture is slightly different between Linux and OSX.

[2016-03-18 13:38] hrosa opened #45 "RestComm loggers are poorly configured"
I am currently load testing RestComm Docker image, so I tried setting the logger threshold to ERROR by using the flag -e LOG_LEVEL="ERROR".

Then I noticed we still had some INFO traces in the RestComm logs.
Checking the logging configuration I noticed most loggers (including root) were still set to INFO.

[code]

The auto-configuration scripts do a poor job at disabling the loggers, only caring a

[2016-03-18 13:38] atsakiridis commented on #10
Great. If @hrosa found a way to make it work with the official procedure (i.e. https://docs.docker.com/engine/installation/mac/) then we can close this. But @hrosa please update the documentation. The current documentation I think was using manually installing virtual box and installing docker inside a linux guest because that was how I managed to get it to work for me. But yeah we should prefer t

[2016-03-18 13:40] hrosa commented on #10
Already opened issue #44

Will provide guidelines when possible.

[2016-03-21 16:36] hrosa opened #46 "Wrong configuration for WSS connector"
The quick user guide says to open port 5063 for WSS, but looking at JBoss configuration I noticed the connector is bound to port 5083:

[code]

[2016-03-22 16:43] #46 closed

[2016-04-04 21:42] deruelle commented on #26
@leftyb has the documentation been update to mention option 2 and 3  ?

[2016-04-11 09:19] achikin commented on #10
Any updates on this? It seems like restcomm binds to docker-machine nat ip address(eth0 10.0.2.15 for me) instead of bridge(eth1 192.168.99.100)

[2016-04-11 09:25] deruelle commented on #10
@hrosa will provide a better set of instructions

[2016-04-11 10:25] achikin commented on #10
I've figured out a working configuration by myself
Mention that you should set up your own `VOICERSS_KEY`

[code]

But I still have several questions:
1) Why doesn't it work without USE_STANDARD_PORTS="true". If you remove that - Jitsi does not connect and admin console is not reachable. What does USE_STANDARD_PORTS do?
2) If I try to set `--net=host` restcomm binds to my `eth0` interface instead

[2016-04-11 11:43] deruelle commented on #10
1) @achikin see http://docs.telestax.com/restcomm-docker-important-ports/ for ports and USE_STANDARD_PORTS description.

2) it should work. What doesn't work exactly ? @leftyb can help out here

[2016-04-11 12:05] leftyb commented on #10
Hi @achikin,

Please consult Docker documentation on --net flag : https://docs.docker.com/engine/userguide/networking/dockernetworks/

Using --net host, you actually  are using hosts network stack. That is why container is not using docker0 which is the default bridge network created/used by Docker. Can you please provide information on what problems you face using --net host?

[2016-04-11 14:37] achikin commented on #10
@leftyb

[code]

As expected: restcomm containter responds on docker-machine's ip.
Now let's add --net=host

[code]

E.g. restcomm responds on eth0, but should respond on eth1 which is $(docker-machine ip) - the only interface visible from outside of the host.

[2016-04-11 14:58] leftyb commented on #10
Hi,
RestComm is using eth0 by default. At the next release we added an option to be able to define the interface that you want to use. For the moment you need to use eth0. This week we are planning to add this option at the restcomm/restcomm:master tag, but as explained [here](http://docs.telestax.com/restcomm-docker-quick-start-guide/) will not include a stable RestComm release but the developmen

[2016-04-11 15:21] achikin commented on #10
Thank you for explanations!

[2016-04-12 05:03] zhaoyuefeng opened #52 "Can't access the URL https://DOCKER_IP_ADDRESS/olympus"
I install and start using Restcomm following http://docs.telestax.com/restcomm-docker-quick-start-guide/.

After loading restcomm docker, I run it. Everything is OK, but I can't access the URL https://DOCKER_IP_ADDRESS/olympus.

Please help!Thanks.

[2016-04-12 05:08] zhaoyuefeng commented on #52
[root@myserver1 ~]# docker run  -i -d --name=restcomm-myInstance -v /var/log/restcomm/:/var/log/restcomm/ -e STATIC_ADDRESS="10.2.45.88" -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/scripts/restcomm_env_locally.sh" -p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p 5062:5062 -p 5063:5063 -p 5060:5060/udp -p 65000-65050:65000-65050/udp restcomm/restcom

[2016-04-12 05:09] zhaoyuefeng commented on #52
https://10.2.45.88/olympus    is not accessable!!!

[2016-04-12 07:56] leftyb commented on #52
Hi @zhaoyuefeng,

Can you please provide the initialization logs for the container running the command:

docker logs restcomm-myInstance

Thank you.

[2016-04-12 08:27] zhaoyuefeng commented on #52
[root@myserver1 ~]# docker logs restcomm-myInstance
**\* Running /etc/my_init.d/00_regen_ssh_host_keys.sh...
**\* Running /etc/my_init.d/restcommautomate.sh...
Will check if Enviromental variables script file is set
Configuration file URL is: https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/scripts/restcomm_env_locally.sh
url https://raw.githubusercontent.com/RestComm/Restcomm-Doc

[2016-04-12 08:33] zhaoyuefeng commented on #52
Hi leftyb,

My host access network via proxy. So the container maybe can't get the file 'https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/scripts/restcomm_env_locally.sh'.

Do you have other command to run the container using local .sh file or not using a file?

Thank you for help!

[2016-04-12 08:37] leftyb commented on #52
Thank you, I apologise but I was not clear on that, must be more logs generated.

Please send logs, until you see RestComm started., you should see something similar to that:
"JBoss AS 7.2.0.Final "Janus" started in 19958ms - Started 479 of 561 services (80 services are passive or on-demand)"

To load a configuration file locally please consult documentation : http://docs.telestax.com/restcomm-doc

[2016-04-12 09:10] zhaoyuefeng commented on #52
Hi @leftyb ,

run command:
docker run -e USE_STANDARD_PORTS="true" -e HOSTNAME="10.2.45.88" -e STATIC_ADDRESS="10.2.45.88" --name=restcomm -d -p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p 5062:5062 -p 5063:5063 -p 5060:5060/udp -p 65000-65535:65000-65535/udp restcomm/restcomm:latest

[root@myserver1 ~]# docker logs restcomm3
*** Running /etc/my_init.d/00_regen_ssh_host_keys.sh...
*

[2016-04-12 09:17] zhaoyuefeng commented on #52
Hi @leftyb ,

run command:
docker run -e USE_STANDARD_PORTS="true" -e HOSTNAME="10.2.45.88" -e STATIC_ADDRESS="10.2.45.88" --name=restcomm -d -p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p 5062:5062 -p 5063:5063 -p 5060:5060/udp -p 65000-65535:65000-65535/udp restcomm/restcomm:latest

[root@myserver1 ~]# docker logs restcomm3
**\* Running /etc/my_init.d/00_regen_ssh_host_keys.sh...

[2016-04-12 09:29] zhaoyuefeng commented on #52
I have waiting more 10 minutes, not see something similar to that:
"JBoss AS 7.2.0.Final "Janus" started in 19958ms - Started 479 of 561 services (80 services are passive or on-demand)"

Thank you.

[2016-04-12 09:35] leftyb commented on #52
Hi @zhaoyuefeng ,

Strangely logs appearing in not an usual order, can you please make sure that you paste here the correct   order of the logs as appear at the console. I am saying that because apart from that the logs are not having the usual order,  I see "**\* An error occurred. Aborting.
**\* Shutting down /etc/my_init.d/restcommtoolsconf.sh (PID 580)...
**\* Init system aborted.
**\* Killing

[2016-04-12 09:46] zhaoyuefeng commented on #52
Hi @leftyb ,

1、I'm sure the order is correct.
2、run command is "restcomm3", I make a mistake for above, but I'm sure it is same "restcomm3".

[2016-04-12 09:55] leftyb commented on #52
Please send "docker ps" output as well.

[2016-04-12 11:43] hamsterksu opened #53 "Add possibility to add custom java options like java agent"
add env variable to provide extra value for `JAVA_OPTS`

I propose to use `$JAVA_OPTS_EXTRA`
It will appended before original `$JAVA_OPTS` in `standalone.conf`

**Result:**
[code]

[2016-04-13 01:10] zhaoyuefeng commented on #52
CONTAINER ID        IMAGE                      COMMAND             CREATED             STATUS              PORTS                                                                                                                                                                                                           NAMES
5e343c01300b        restcomm/restcomm:latest   "/sbin/my_init"     16 hours ago

[2016-04-14 02:55] zhaoyuefeng commented on #52
@leftyb
"docker ps" output ：
CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES
5e343c01300b restcomm/restcomm:latest "/sbin/my_init" 16 hours ago Up 4 seconds 0.0.0.0:80->80/tcp, 0.0.0.0:443->443/tcp, 5080-5083/tcp, 8080/tcp, 0.0.0.0:5060-5063->5060-5063/tcp, 0.0.0.0:5060->5060/udp, 0.0.0.0:9990->9990/tcp, 0.0.0.0:65000-65535->65000-65535/udp, 8443/tcp, 5080/udp restcomm3

Thanks

[2016-04-14 10:18] #20 closed

[2016-04-14 10:21] leftyb commented on #52
@zhaoyuefeng,

Please try to pull again the latest tag "docker pull restcomm/restcomm:latest" and try to run the container.

[2016-04-14 10:27] leftyb opened #57 "Fix PROD_MODE."
Need to be more configurable or wider so can be used from less strict/specific scenarios.

[2016-04-19 09:39] gvagenas opened #58 "RVD demo applications are missing"

[2016-04-19 09:39] #58 closed

[2016-04-21 11:37] hamsterksu opened #59 "INIT_PASSWORD was borken"
Hi @gvagenas, your commit have broken INIT_PASSWORD  functionality

after your commit https://github.com/RestComm/Restcomm-Docker/commit/b44a2be746efa6482d5f1d6d550536e09854ecf3
`INIT_PASSWORD` block was moved above `$HSQL_PERSIST` block but it should be below

your changes
https://github.com/RestComm/Restcomm-Docker/blob/b44a2be746efa6482d5f1d6d550536e09854ecf3/scripts/restcomm_conf.sh#L181

my c

[2016-04-21 11:45] hamsterksu commented on #59
sorry @gvagenas @deruelle.
i was wrong. we should replace password before copy. so current version is correct

i got problem with INIT_PASSWORD option because i forgot that we use plaintext password.

[2016-04-21 11:45] #59 closed

[2016-04-21 12:37] hamsterksu commented on #57
@leftyb could you describe your vision?
the main idea was getting instance with are ready for performance test. to get maximum we should disable logs and improve java options. https://github.com/RestComm/Restcomm-Connect/blob/master/load_tests/prepare-restcomm-for-perf.sh

So i think we can replace this flag with the following improvements
1. improve `$LOG_LEVEL` to apply log level for every packa

[2016-04-26 11:06] leftyb commented on #57
Hi @hamsterksu,

Thank you for your time and contribution.

Well my idea is exactly that, to actually be able to arrange/configure the necessary values in accordance with the available specifications of the host that RestComm is running.
I believe that we shouldn't totally disable logs on Production Mode due to troubleshooting necessities on errors or failures.

So for the  improvements you are pr

[2016-04-27 10:12] leftyb commented on #53
hi @hamsterksu,

Thank you for your contribution.
I see that same JAVA_OPTS_EXTRA are used for RestComm and Media Server. I would say that is
much better to separate, and use different flag for RestComm and MS.

Something like: RC_JAVA_EXTRA_OPTS & MS_JAVA_EXTRA_OPTS.
As well have in mind that in RestComm side you can add Jboss specific options, that are not used at MS.

One other thing is, how ar

[2016-04-27 16:07] hamsterksu commented on #53
@leftyb. thank you for feedback

agree with you - need to have 2 variables. i will update PR.
Also we can use it to provide `Xms, Xmx, Xmn and XX:MaxPermSize`

[2016-04-27 16:46] antonmry commented on #6
@hrosa @leftyb could you update the actual status of this issue?

After see http://docs.telestax.com/restcomm-configuring-load-balancer/ , I guess it should be closed, isn't it?

[2016-04-27 17:01] leftyb opened #60 "Add the option to use a certificate from local file."
At the moment RestComm-docker can retrieve a certificate if it is exposed with a web server using wget.
We need to add the possibility to use certificate from local path.

[2016-04-30 16:14] ghjansen opened #61 "Turn RVD Workspace Migration backup dir configurable"
Once the RVD Workspace Migration creates a backup of the whole workspace folder before proceed with the upgrade, its needs to configurable for docker instances, this way the backup folder can be created and preserved outside the container.

(Related to https://github.com/RestComm/Restcomm-Connect/issues/1029)

[2016-05-05 09:29] leftyb commented on #6
Hi @antonmry,

The specific tutorial that you are referring is outdated, I will open an issue to modify the specific documentation entry.
Please for the latest Load Balancer release refer to  [2.0.0](https://telestax.com/restcomm-load-balancer-2-0-0-final/).
We are in the testing phase to support LB 2.0.0 release. As soon as  everything is verified and  tested we will update and close this issue .

[2016-05-05 09:39] leftyb commented on #52
closing due to inactivity.

[2016-05-05 09:39] #52 closed

[2016-05-05 09:45] leftyb opened #62 "Refactor RestComm-docker scripts to modify only restcomm.conf script."
The specific issue is highly dependent to Restcomm-connect issue [917](https://github.com/RestComm/Restcomm-Connect/issues/917).

[2016-05-05 09:45] leftyb commented on #29
The specific issue is highly dependent to Restcomm-connect issue [917](https://github.com/RestComm/Restcomm-Connect/issues/917).

Once RetComm-connect auto-configuration scripts refactoring is done, we will be able to refactor as well RestComm-docker RUN scripts. Issue [62](https://github.com/RestComm/Restcomm-Docker/issues/62)

[2016-05-05 09:45] #29 closed

[2016-05-05 09:48] leftyb opened #63 "Docker-RestComm. Fix docker stop && docker start."
At the moment the basic functionality of docker to be able to stop && start container is not working.
We need to be able to provide and support this, as it is a a basic docker functionality.

Bug Reported about "verify-client="false"" duplication on standalone-sip.xml

[2016-05-05 09:49] leftyb commented on #31
Close issue due to inactivity.
Maybe related to issue [63](https://github.com/RestComm/Restcomm-Docker/issues/63)

[2016-05-05 09:49] #31 closed

[2016-05-05 09:54] leftyb commented on #9
Done in both RestComm-Connect and RestComm-Docker.

[2016-05-05 09:54] #9 closed

[2016-05-05 10:19] leftyb commented on #26
Closing issue. Documented as a workaround to use "--net host" to the RUN command in case that a big range of ports is needed.

[2016-05-05 10:19] #26 closed

[2016-05-07 14:20] antonmry opened #67 "Docker environment variable to specify S3_BUCKET_REGION"
The bucket region is hard coded to us-west-1 after PR https://github.com/RestComm/Restcomm-Connect/pull/873/files so recordings upload fails when you are uploading to a S3 budget associated to a different region.

Workaround seems modify https://github.com/RestComm/Restcomm-Connect/blob/3d46d612eddc1d4c06f1fd0846cccf4f4e68c257/restcomm/restcomm.application/src/main/webapp/WEB-INF/conf/restcomm.xml

[2016-05-07 19:27] antonmry commented on #67
PR proposed, I hope it's ok.

[2016-05-07 19:32] antonmry commented on #25
Finally I found the problem: I miss a iptables rule to allow the docker interface access to my network interface in the port 443 but it was allowed to access higher ports. Typical damn thing but hard to debug. Luckily I found it solving other issues.

[2016-05-09 14:48] #67 closed

[2016-05-09 14:49] leftyb opened #69 "Move Docker S3 configuration at restcomm.conf."
We have been trying to move all configuration work on RestComm itself using auto-configuration scripts and restcomm.conf. So from Docker we would need to actually place the proper value of the corresponding configuration at the resctomm.conf file. At the moment there is not any configuration of S3 bucket at restcomm.conf file.
We will need to first add the S3 bucket configuration at restcomm.conf

[2016-05-12 15:27] #63 closed

[2016-05-12 15:33] #53 closed

[2016-05-12 16:10] #61 closed

[2016-05-16 08:19] hamsterksu commented on #45
hi @hrosa
i'm going to fix logger:
1. Apply one log level for all loggers.
2. Provide posibility to disable file logger at all. (docker collects "system out" automatically).
maybe for docker it should be disabled by default

WDYT?

[2016-05-16 09:08] leftyb commented on #45
@hamsterksu,

Thank you for contributing on that issue.

On the second bullet, please make by default INFO level on logs. It is true that docker is collecting "system out" automatically but  it is  preferable to use RestComm and Media server proper log system, for various reasons. E.g.. There are various user cases that needs to disable docker logs in general, or as well is much more comfortable t

[2016-05-17 08:54] leftyb opened #70 "Add RECORDINGS_PATH configuration at docker environment variables."

[2016-05-17 09:01] #70 closed

[2016-05-19 10:17] hrosa opened #71 "Update guide on RestComm XMS configuration"
Please update this guide with latest efforts on RestComm configuration for XMS interop.

http://docs.telestax.com/restcomm-working-with-dialogic-xms/

[2016-05-20 07:42] deruelle opened #72 "Allow changing the default Admin account"
similarly to INIT_PASSWORD it should be possible to change the main admin account from administrator@company.com to something custom

[2016-05-23 13:57] leftyb opened #73 "Move port configuration to RestComm scripts."

[2016-05-23 15:56] leftyb opened #74 "Remove Load_Balancer configuration from Docker and move to RestComm."

[2016-05-25 08:20] hamsterksu commented on #45
hi @hrosa

i have made changes and would like to get your feedback

i use `xmlstarlet` tool to patch xml files. but i have found that you use another java tool in restcomm-connect project. do i need to use it too? seems `xmlstarlet` more powerful

https://github.com/hamsterksu/Restcomm-Docker/commit/851b765696538242e81682e51fb17d920b438e59

[2016-05-30 09:00] hamsterksu opened #75 "is not possible to modify Xmx, Xms, Xmn params with RC_JAVA_OPTS_EXTRA"
Hi everyone,

`Xmx`, `Xms`, `Xmn` are defined in `standalone.conf` file and can not be changed by `RC_JAVA_OPTS_EXTRA`

if you try to override `JAVA_OPTS` at all restcomm doesn't start.

seems we need find these variables in `RC_JAVA_OPTS_EXTRA` and modify `standalone.conf`

[2016-05-30 09:16] leftyb commented on #75
@hamsterksu,
I see, I will provide a fix today on that.
Thank you.

[2016-05-30 15:30] #75 closed

[2016-05-30 15:31] leftyb commented on #75
@hamsterksu
Issue  fixed.

Thank you for reporting.

[2016-06-02 15:22] maria-farooq opened #76 "Include mysql upgrade schema scripts"
we have to add automatic upgrade functionality in docker:
http://documentation.telestax.com/connect/configuration/How%20to%20use%20Mysql%20schema%20upgrade%20scripts.html#mysql-schema-upgrade

[2016-06-04 09:07] maria-farooq commented on #10
@deruelle  @hrosa  as we have separate issue for documentation https://github.com/RestComm/Restcomm-Docker/issues/44 , i think we can close this one. or we can close either one of these, however it is ok.

[2016-06-10 12:03] leftyb commented on #45
Hi @hamsterksu ,

We are in the middle of moving all configuration to RC and restcomm.conf. So actually docker only sets the necessary values to restcomm.conf and then RC configuration scripts take care to configure RC properly. This way RC binary  and Docker  can properly sync to allow for the same functionalities.

[2016-06-24 11:06] #62 closed

[2016-06-24 11:07] #73 closed

[2016-06-24 11:15] leftyb opened #78 "Second iteration of RestComm configuration scripts."
Adopt docker to RestComm configuration scripts refactoring.
https://github.com/RestComm/Restcomm-Connect/pull/1217

[2016-06-24 13:29] hamsterksu commented on #75
hi @leftyb
have you removed - `RC_JAVA_OPTS_EXTRA` ?

[2016-06-29 15:29] #78 closed

[2016-06-29 15:30] leftyb commented on #76
No need will be done manually.

[2016-06-29 15:30] #76 closed

[2016-06-29 15:30] #69 closed

[2016-07-03 10:21] bilal966 opened #80 "Update RestComm Configuration Documentation"
If you go to the link [Documentation RestComm](http://documentation.telestax.com/connect/configuration/docker/Restcomm%20-%20Docker%20Advanced%20Configuration.html#docker-advanced)
 There are some commands:
 `docker run -i -d  --name=restcomm -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/scripts/restcomm_env_basic.sh"  -p 80:80 -p 443:443 -p 9990:9990 -p 5060:506

[2016-07-03 10:35] #80 closed

[2016-07-04 11:53] leftyb opened #81 "Update documentation accordingly to latest configuration scripts refactoring."

[2016-07-04 11:55] #81 closed

[2016-07-06 11:33] #74 closed

[2016-07-06 11:34] leftyb commented on #45
Fixed at the RestComm  side  after script refactoring. As well added option to change log level on run-time.

[2016-07-06 11:34] #45 closed

[2016-07-06 11:35] leftyb opened #82 "Fix LB configuration"

[2016-07-06 11:36] leftyb commented on #82
As well Minor fix on INITIAL_ADMIN_PASSWORD due to wrong flag name usage.

[2016-07-06 11:37] #82 closed

[2016-07-11 12:22] leftyb opened #83 "Fix Docker build."
For some reason, probably due to upgrade on the ubuntu release, the build is not successful.
2 errors:

- Package 'mysql-client-core-5.6' has no installation candidate (need to update to 5.7)
- | sudo /usr/bin/debconf-set-selections && locale-gen en_US en_US.UTF-8 && dpkg-reconfigure locales
 ---> Running in daed1c193a94
/bin/sh: 1: sudo: not found

[2016-07-11 14:04] #83 closed

[2016-07-11 14:31] leftyb opened #84 "Add net-tools to the dockerfile."
Due to that is removed from the official ubuntu Docker image.

[2016-07-11 14:36] #84 closed

[2016-07-14 12:11] leftyb opened #85 "Fix TCPDUMP if additional ports-connectors are added."
From the latest modifications on RC it is possible to open additional connectors, we need tcpdump to monitor as well.

[2016-07-18 07:29] #57 closed

[2016-07-19 09:23] leftyb opened #86 "Add USSD configuration at docker configuration."

[2016-07-19 15:29] #86 closed

[2016-07-20 09:39] leftyb opened #88 "Fix cron running after latest UBUNTU base image."
Need to add :
"# Ensure cron is allowed to run"
sed -i 's/^\(session\s\+required\s\+pam_loginuid\.so.*$\)/# \1/g' /etc/pam.d/cron

at the configuration scripts.

[2016-07-20 09:44] #88 closed

[2016-07-20 11:08] leftyb commented on #6
The integration for LB on RestComm docker is done and tested.
Please refer to the Docker documentation on the Load Balancer section for the necessary configuration.
http://documentation.telestax.com/connect/configuration/docker/Restcomm%20-%20Docker%20Environment%20Variables.html#docker-environment

[2016-07-20 11:08] #6 closed

[2016-07-20 13:02] antonmry commented on #6
Thanks @leftyb , well done :+1:

[2016-07-26 11:33] silazare opened #89 "Fix Docker SSL script for SECURESSL=SELF"
SSL issue for docker script restcomm_sslconf.sh, line 33 keytool, which is not needed when parameter configured "$SECURESSL" = "SELF".

if [[ "$SECURESSL" = "SELF" ||  "$SECURESSL" = "AUTH" ]]; then
Add StartComm certificate to the truststore to avoid SSL Exception when fetching the URL
keytool -importcert -alias startssl -keystore /usr/lib/jvm/java-7-oracle/jre/lib/security/cacerts -storepass cha

[2016-08-01 11:47] silazare commented on #89
Problem reproduced on VMware VMs only. OS - Ubuntu LTS 14.04, version:
kernel: 4.2.0-27-generic
docker: 1.11.2
Fixed by upgrading kernel and docker versions to the latest ones. SSL script changes not needed.
Stable versions tested:
kernel: 4.4.0-31-generic
docker: 1.12.0

[2016-08-01 11:47] #89 closed

[2016-08-17 16:20] gvagenas opened #90 "Use pcapsipdump for pcap file per sip session"
Check

http://pcapsipdump.sourceforge.net/
http://www.paperstreetonline.com/2014/11/19/pcapsipdump-dump-sip-signaling-and-rtp-streams-per-call-leg-into-separate-pcap-files/

[2016-08-18 09:28] maria-farooq opened #91 "Add missing SIP_SCANNERS property in mss-sip-stack.properties"
mss-sip-stack.properties is missing this [line](https://github.com/RestComm/Restcomm-Connect/blob/f418d9e8918c5c347763f7d2bca7e3f58f09ce44/restcomm/configuration/mss-sip-stack.properties#L27)

[2016-08-22 18:44] leftyb commented on #90
@gvagenas
Yes we need to consider an approach for sip traffic capture. Still I believe that the best approach is hommer-sip (http://sipcapture.org/).  Lets brainstorm on the tool to use a bit more.

[2016-08-29 06:34] #91 closed

[2016-08-31 10:36] leftyb opened #92 "Option to be able add IP HOSTNAME to /etc/hosts if needed."
IF HOSTNAME is configured, some times it is necessary to add the HOSTNAME at the /etc/hosts file.

[2016-08-31 11:57] #92 closed

[2016-09-06 12:17] leftyb opened #93 "Fix LB configuration."
Fix LB configuration. According RC issue #Restcomm-Connect/1338

[2016-09-09 09:55] #72 closed

[2016-09-09 10:24] #93 closed

[2016-09-12 14:24] leftyb opened #95 "Add http-client timeout."
Relatest to : https://github.com/RestComm/Restcomm-Connect/issues/1354

[2016-09-13 06:43] #95 closed

[2016-09-30 14:41] leftyb opened #96 "Add CACHE_NO_WAV option."

[2016-10-07 09:48] #96 closed

[2016-10-07 09:50] leftyb opened #97 "Add heap_dump at docker_do.sh if necessary."
Need to add heap_dump flag at the docker_so.sh in case that is needed. Need to run the collect_jmap.sh script.

[2016-10-11 14:02] maria-farooq opened #98 "new config in restcomm.xml"
For conference productisation a new configuration is added in restcomm.xml

this config is inside tag `media-server-manager`: here is example.
[code]
mrb potion is new here
[code]

cc: @croufay new feature alert!

[2016-10-11 14:06] #98 closed

[2016-11-18 13:56] leftyb opened #99 "Adaptation of new configuration scripts for RMS5 and RC."
https://github.com/RestComm/Restcomm-Connect/pull/1560

[2016-11-19 12:36] hamsterksu commented on #22
hi @deruelle @leftyb
i have split restcomm docker image to 2 images:
1. restcomm/baseimage:java7 - 861 MB
2. restcomm/restcomm - 1.127 GB (include 861MB base image)

Container's update size ~ 270 MB

https://github.com/hamsterksu/restcomm-docker-v2/tree/master

### solution 2

i think it's possible to split it to 3 images
1. restcomm/baseimage:java7
2. restcomm/restcomm-sip-servlets:as7
3. restcom

[2016-11-19 14:21] hamsterksu commented on #22
**option 4**  is here  - https://github.com/hamsterksu/restcomm-docker-v2/tree/option_4

[2016-11-24 10:02] deruelle commented on #22
@hamsterksu nice !

Would you like to make a pull request so that @leftyb can review ?

[2016-11-24 12:52] hamsterksu commented on #22
@deruelle
i have not tested solution #4 pretty well. it's just a concept.
i want to know your opinion

[2016-11-29 13:07] deruelle commented on #22
@gvagenas @leftyb can you comment on that ?

[2016-11-29 13:25] leftyb commented on #22
Hi @hamsterksu,

Thank you for the suggestion. I will need to make some tests following this approach to confirm. I am not sure that this approach is changing the download size, as by default docker updates only the layers that have changed, when you update a container. So maybe at the first update after pulling the container will result in less downloadable data, but after that, for pulling just

[2017-02-06 15:43] wpcfan opened #100 "Container cannot start on OSX 10.12.3"
I do what 'Get Started' told us, and cannot get docker running.

Always got the following error:

[code]

[2017-02-11 19:08] bpulito opened #101 "Restcomm Docker image not working on OSX 10.12.3"
I realize there is already an issue open for running the Restcomm Docker image on Docker for Mac but my symptoms look a bit different. When I try to make a call to +1234 from Olypmus after Registering Alice the call fails and I get the following error:

18:37:14,547 ERROR [org.restcomm.connect.mgcp.Link] (RestComm-akka.actor.default-dispatcher-25) The media gateway failed to respond in the request

[2017-02-12 16:53] deruelle commented on #101
@bpulito can you try with --net=host instead of port forwarding. It's weird the RMS is bound to the right IP and Port and we see from the network trace that the MGCP is sent to the right IP and port but it looks like it never reaches the RMS, so sounds like a networking issue. or you can also try to add -p 2427:2427 -p 2727:2727 ?

[2017-02-16 03:05] bpulito commented on #101
I tried both of these suggestions and neither resolved the issue. When I exec into the restcomm docker container it looks like the media server is not listening on 2427. Here is the netstat:

root@4f90566914ac:/# netstat -na
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 172.17.0.2:443          0.0

[2017-02-16 10:23] #99 closed

[2017-02-16 20:36] leftyb commented on #101
Hi @bpulito

RestComm-Docker container philosophy has changed, after RMS5 integration. Please pull latest tag again and run command like so:
`
docker run -i -t --name=restcomm-myInstance -v /var/log/restcomm/:/var/log/restcomm/ -e RCBCONF_STATIC_ADDRESS="my eth0 ip" -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/env_files/restcomm_env_locally.sh" -p 80:80 -p 443:4

[2017-02-22 10:20] abdulazizali77 opened #103 "start-mediaserver.sh points to incorrect directory"
Restcomm-Docker/scripts/start-mediaserver.sh#L7
`RESTCOMME_DIR=/opt/TelScale-Restcomm-JBoss-AS7`

[2017-02-22 10:23] leftyb commented on #103
@abdulazizali77 Thank will fix it right away.

[2017-02-22 12:22] #103 closed

[2017-02-28 06:09] abdulazizali77 opened #104 "Enhancement: Add flags to enable/disable startup scripts, autoconfiguration, dynamic module downloading"
In a development environment, we probably want to start up/shutdown/pause services or processes without the service daemon restarting again for us.

In a dev or staging environment, once a server is setup, manually or automatically, highly likely there is no need to rerun the autoconfiguration scripts every time the container is restarted.

In a dev or staging environment, once a module (lets say

[2017-03-29 02:21] EdHintz opened #105 "Olympus and admin UI cannot be reached."
I am running the stable version of restcomm on docker Mac OSX 10.11.5 and olympus and web ui sites cannot be reached (running Chrome).

Here is my command docker run command:

docker run  -i -d --name=restcomm-myInstance -v /Users/edbandwidth/restcomm:/var/log/restcomm/ --net host -e RCBCONF_STATIC_ADDRESS="192.168.1.143" -e MEDIASERVER_LOWEST_PORT="65000" -e MEDIASERVER_HIGHEST_PORT="65050" -e VO

[2017-03-29 07:45] deruelle commented on #105
@EdHintz given you use `--net host` you don't need the port forwarding (`-p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p 5062:5062 -p 5063:5063 -p 5060:5060/udp -p 65000-65050:65000-65050/udp`) you should be able to access it via `https://192.168.1.143`. If that doesn't work please give the output of docker logs restcomm-myInstance

[2017-03-29 09:42] deruelle commented on #105
Also please note that by default you need to use https://my.ip.for.container:8443/olympus or http://my.ip.for.container:8080/olympus

[2017-03-29 09:55] deruelle commented on #105
so to summarize:
Using this command (please modify `RCBCONF_NET_INTERFACE` to your interface)

```docker run  -i -d --name=restcomm-myInstance -v /var/log/restcomm/:/var/log/restcomm/ --net host -e RCBCONF_STATIC_ADDRESS=192.168.1.143 -e RCBCONF_NET_INTERFACE=wlan1 -e RCBCONF_HTTP_PORT=80 -e RCBCONF_HTTPS_PORT=443 -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/env

[2017-03-29 19:53] EdHintz commented on #105
Thanks for your help, but I am still stuck though the error is different.  I get connection refused now. Maybe I should just try a Linux box.

[2017-03-29 20:07] scottbarstow commented on #105
@EdHintz I had this working on your exact setup a few weeks ago. Deleted the docker image but let me pull and see if I have the same issue

[2017-03-30 00:32] EdHintz commented on #105
I am pretty new to Docker so I thought it might be me mixing up ip addresses so I tried a simple nginx Docker image and it worked fine.

[2017-03-30 02:48] scottbarstow commented on #105
@deruelle @EdHintz  I was able to reproduce this.

@EdHintz can you pipel the output from docker logs restcomm-myInstance to a file and attach? I'd like to compare with mine.

[2017-03-30 12:55] scottbarstow commented on #105
@EdHintz the docs are missing something.

The command that worked for me this morning:

[code]
Note the addition of 8080 and 8443 to the ports list.

I get some squirrely behavior when I run with --net host that I've yet to pin down, but this should work for you.

[2017-03-30 13:01] EdHintz commented on #105
@scottbarstow Sent you logs in email.
I'll try the command that worked for you.

[2017-03-30 13:16] EdHintz commented on #105
ok, we are getting further.
I ran the docker command but it is in an infinite loop killing and restarting processes.
I thought I'd try olympus anyway and I got a web pages.  Yay!
However, the logins fail with alice or bob and pw of 1234

[2017-03-30 13:32] scottbarstow commented on #105
Hrm. Should not be in a loop obviously. Can you log in to the admin console?

Should be http://yourip:8080/

User is administrator@company.com, pw is RestComm

[2017-03-30 13:46] EdHintz commented on #105
I was able to login but it took like 3 minutes to complete, probably because of the looping.
Let me try going back to stable.

[2017-03-30 14:11] EdHintz commented on #105
Went back to stable, no looping process kills but still unable to log into olympus.  I get the following error:
 Error: Register failed. Check your credentials.

[2017-03-30 14:12] scottbarstow commented on #105
Can you get into the admin?

On Thu, Mar 30, 2017 at 10:11 AM, EdHintz <notifications@github.com> wrote:

--
scottbarstow.com
@scottbarstow
+1-919-349-9473 (m)

[2017-03-30 15:34] EdHintz commented on #105
Yes, I can get in.  Is it normal to be asked to log back in frequently as I select menu options in the admin?

Can I change the login from olympus in the admin?

[2017-03-30 15:43] EdHintz commented on #105
I found where I could add a new user in the admin.  However, when I try that user in olympus it still fails to login with the same error.

[2017-03-30 15:52] scottbarstow commented on #105
I'm testing this here locally now. Got delayed this morning

On Thu, Mar 30, 2017 at 11:43 AM, EdHintz <notifications@github.com> wrote:

--
scottbarstow.com
@scottbarstow
+1-919-349-9473 (m)

[2017-03-30 16:13] scottbarstow commented on #105
ok. Here's the problem (and solution). The config that you're starting RestComm with located [here](https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/env_files/restcomm_env_locally.sh) starts everything on ports 508x. The docker command in the docs (and that I gave you) starts everything on ports 506x. So... here's a new docker run command with the proper ports.

[code]

Once it st

[2017-03-31 12:37] scottbarstow commented on #105
@EdHintz are you all set here? Pls advise so we can close this issue out and ensure you're up and running. Thanks

[2017-04-03 11:55] iasbm opened #106 "Admin UI is not loading"
I have just upgraded to Windows 10 Pro and pulled latest DOCKER image of Restcomm by following the instructions on the web page (http://documentation.telestax.com/connect/configuration/docker/Restcomm%20-%20Docker%20Quick%20Start%20Guide.html#restcomm-docker).

Then initially I ran the container by executing the following command ...
"docker run  -i -d --name=restcomm-myInstance -v /var/log/restco

[2017-04-03 14:53] EdHintz commented on #105
The website is up and I can login.  Have not been successful calling or video chat.  No notifications.  Tried call between two different computers and also within same computer, two different browsers.

Here is a snippet from the logs.  Have tried alice calling bob and bob calling alice.

[0m[0m15:06:35,304 INFO  [gov.nist.javax.sip.stack.SIPTransactionStack] (SIP-TCP-Core-PipelineThreadpool-1)

[2017-05-27 03:08] phucnguyen2411 commented on #101
@leftyb : Thanks so much, it working well on my system.

[2017-05-29 12:44] AShabana opened #107 "Docker build not working !"
When we run
`# docker build -t restcomm/restcomm:latest -f Dockerfile .`

the build failed with this error

`Errors were encountered while processing:
 oracle-java7-installer
E: Sub-process /usr/bin/dpkg returned an error code (1)
`

please advice

[2017-05-29 12:47] leftyb commented on #107
Ηι @AShabana ,

Τhe problem is that oracle JDK is not longer distributed. Changed last week.
From now on we will use openjdk. Let me push a fix for it.

Regards

[2017-05-29 14:52] leftyb commented on #107
Hi @AShabana,

I just push a fix. Can you please try again. And close issue if works properly.

Thank you.

[2017-05-30 10:05] AShabana commented on #107
Thank you , it is built successfully now .

[2017-05-30 10:05] #107 closed

[2017-06-13 20:01] gsaslis commented on #106
@iasbm did you ever get this to work?

I was having similar issues (albeit on OSX) and - like you - I also discovered the right ports were not `80` and `443`, rather `8080` (and `8443`).

I *was* able to access the restcomm admin UI on port 8080 (_but not on 8443 out of the box_), so perhaps at that point you need to look into your firewall settings?

Looks like this thread might have some relevan

[2017-06-13 20:21] gsaslis commented on #105
@scottbarstow i went through your suggested fixes and was able to test this successfully on macOS .

After changing the ports Alice was able to call Bob and Bob Alice. Notifications (meaning sounds) worked.

( @EdHintz not sure if this is related to your issue, but in my case only firefox worked straight away. Chrome + safari seemed not to start the camera or give me any other warning about the br

[2017-06-13 20:31] gsaslis commented on #100
@wpcfan could you please share some more feedback about this?

what command did you run to get this output and what was the complete error log?

[2017-06-13 21:01] gsaslis commented on #101
@bpulito i'm trying to help clean up here...

would you mind trying out to confirm if this is still an issue?
otherwise, could we close this issue?

[2017-06-20 10:15] agafox opened #108 "Add Docker Compose support to run Restcomm with MySQL optionally"
It will be good to add Docker Compose support as long as it's recommended to run Restcomm with MySQL instead of HSQL.

[2017-06-26 12:23] agafox commented on #100
@wpcfan @gsaslis '/sbin/my_init' is a script from original ubuntu container and it's not modified by Restcomm-Docker. It seems that issue was fixed https://github.com/phusion/baseimage-docker/issues/96

[2017-06-26 12:28] #100 closed

[2017-06-29 08:55] agafox opened #110 "SSL is not configured for Olympus in :latest docker container"
**restcomm-olympus.sh** tries to 'patch' sign-in.js controller and it doesn't work for current version of Olympus.
It seems that the right way is to configure **/olympus.war/resources/xml/olympus.xml**

Note: Everything looks OK in Chrome, but it's just use Websocket on port 5082 and doesn't cares...

[2017-06-29 09:49] agafox commented on #10
@deruelle let's close this issue because it's not actual

[2017-06-29 10:11] #10 closed

[2017-07-02 16:26] AShabana opened #111 "Caused by: org.apache.commons.configuration.ConversionException: 'connections.connection(0).peerport' doesn't map to an Integer object"
Dears , when we add smpp configuration to our docker file as below
`
RCBCONF_SMPP_ACTIVATE=true
GENERIC_SMPP_ID=xxxxx
GENERIC_SMPP_PASSWORD=xxxxxxx
GENERIC_SMPP_SYSTEM_TYPE=xxxxx
GENERIC_SMPP_PEER_IP=xx.xxxxx.xx
GENERIC_SMPP_PEER_PORT=08000
`

restcomm docker enter infinit loop , seem it not able to parse port

and it throw the below exception
`restcomm.connect.commons.faulttolerance.RestcommSuper

[2017-07-03 09:27] AShabana commented on #111
Seem this is a bug in the parser , or format of the paramter has been changed from the previous release

I iterated in the env. file with

RCBCONF_SMPP_SYSTEM_ID
RCBCONF_SMPP_PASSWORD
RCBCONF_SMPP_SYSTEM_TYPE
RCBCONF_SMPP_PEER_IP
RCBCONF_SMPP_PEER_PORT

and it worked

[2017-07-03 09:27] #111 closed

[2017-07-03 09:30] AShabana commented on #111
anyway hope you update the documentation , or refer to the new one if you plan to have more customers with production deployments

[2017-07-05 06:03] agafox commented on #110
@ammendonca as i understand we can close this issue?

[2017-07-05 09:20] ammendonca commented on #110
Yes, fixed with https://github.com/RestComm/Restcomm-Connect/commit/43d54c0dffde2d3339bcef4b7c8c0bb5f6e68d3b and https://github.com/RestComm/Restcomm-Docker/commit/919124473d76945b77c2a09a281d12e6e840e383.

[2017-07-05 09:20] #110 closed

[2017-07-10 09:29] AShabana commented on #108
regard docker compose , you can use this file as docker-compose-yml

regard integration with mysql you should able to configure it via env_file,

via below configuration paramters

RCBCONF_MYSQL_USER=xxxx
RCBCONF_MYSQL_PASSWORD=xxxxxx
RCBCONF_MYSQL_HOST=xxxx
RCBCONF_MYSQL_SCHEMA=restcomm

[2017-07-10 09:31] agafox commented on #108
@AShabana Great! Would you like to make a PR with your version of docker-compose.yml?

[2017-07-21 08:44] deruelle commented on #108
@agafox @AShabana let's make docker compose actually compose Restcomm Connnect docker image, Restcomm Media Server docker image and the DB (MariaDB or HSQL, hsql being the default for community) Docker image

[2017-07-21 13:55] agafox commented on #44
'quick start guide for OSX' was removed as long as default one contains all info to run RC Docker on OSX

[2017-07-21 13:55] #44 closed

[2017-07-25 19:32] Cassito opened #113 "Unable to login to Olympus"
Hello, I am "brand new" to both RestComm and Docker. After some learnings I was able to run Docker (running on an Ubuntu VM). Everything appears to be fine but I am unable to login to Olympus (though RestComm console is ok).
The command I am using is: docker run  -i -d --name=restcomm -e RCBCONF_STATIC_ADDRESS=192.168.110.162 -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docke

[2017-07-27 23:19] ammendonca commented on #113
Hello @Cassito,

This is likely related to https://github.com/RestComm/Restcomm-Connect/issues/2381. This has been fixed, for a quick fix you can change `<server secure="true">` to `<server secure="false">` in the _/opt/Restcomm-JBoss-AS7/standalone/deployments/olympus.war/resources/xml/olympus.xml_ file. After that your browser will attempt to use ws instead of wss (make sure to clear browser cac

[2017-07-27 23:19] #113 closed

[2017-07-28 12:46] Cassito commented on #113
Hello Alexandre,

WORKED, many thanks !!!!!!!!!!!!

One question to you, where are you based at? Your name sounds Brazilian, just curious as I am Brazilian.

Kind regards

Cassio

From: Alexandre Mendonça [mailto:notifications@github.com]
Sent: Thursday, July 27, 2017 8:19 PM
To: RestComm/Restcomm-Docker <Restcomm-Docker@noreply.github.com>
Cc: Cassito <cprhbr@gmail.com>; Mention <mention@noreply.

[2017-07-28 17:20] ammendonca commented on #113
Glad it worked @Cassito! Sou de Portugal ;)

[2017-09-13 06:43] zbulb opened #114 "Visual designer not working"
I have managed to get Olympus and Admin UI module working but when accessing Visual Designer, i get a failed login error even when using the correct credentials.

This is the error I get from rvd.log

`
0913 06:26:02,917 Z ERROR (http-/172.17.0.2:8080-2) javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure: java.lang.RuntimeException: ja
vax.net.ssl.SSLHandshakeException: R

[2017-12-12 11:06] gsaslis commented on #101
I will be closing this, after https://github.com/RestComm/Restcomm-Connect/pull/2687 was merged.

We now have a new quick start guide based on docker compose available under: http://documentation.telestax.com/connect/configuration/docker/Restcomm%20-%20Docker%20Quick%20Start%20Guide.html

Please feel free to report back if you are still experiencing some issues.

[2017-12-12 11:06] #101 closed

[2017-12-12 11:09] gsaslis commented on #71
@hrosa i've included some comments in the `docker-compose.yml` example, included in PR https://github.com/RestComm/Restcomm-Connect/pull/2687 which afaict should cover this scenario?

Could you please take a look [here](https://github.com/RestComm/Restcomm-Connect/blob/master/docker-compose.yml#L80-L86), so we can close this if it does?

[2017-12-25 00:03] pouraghajan opened #117 "Can't login to Olympus but the administration console is fine"
Hi,

I've gone through all the steps mentioned in RestComm Docker quick start guide at [http://documentation.telestax.com/connect/configuration/docker/Restcomm%20-%20Docker%20Quick%20Start%20Guide.html](url) but there is a problem I couldn't solve.
After deploying the container using `docker-composer up` command the Olympus console gets open in the browser but I can't login. (at the same time the

[2017-12-25 09:12] pouraghajanOldAcc commented on #117
In addition to that, I'm getting below error in FireFox Web Developer console:

2017-25-12 12:09:35.362 ERROR Error: $scope.iceServers is undefined
$scope.connect@https://192.168.1.8:8443/olympus/resources/js/controllers/sign-in.js:130:9
$parseFunctionCall@https://192.168.1.8:8443/olympus/lib/angular/angular.js:12336:15
callback@https://192.168.1.8:8443/olympus/lib/angular/angular.js:21422:17
$eva

[2017-12-26 17:14] pouraghajanOldAcc commented on #117
Figured it out, I have ran the ResComm on a virtual machine while my host OS wasn't connected to Internet (didn't have full access as a matter of fact ;) ).
It seems during the startup, RestComm does some transactions with external services over the Internet (Don't know why, btw)!!
As soon as I connected my host OS to the Internet, problem solved.

[2017-12-26 17:14] #117 closed

[2018-01-02 15:01] gsaslis commented on #117
Thanks for reporting back @pouraghajan !

Yes, I can confirm internet connectivity is required, both for some tools which are used at first run, but also for some runtime dependencies. For anyone else who comes across this, please ensure you have a working internet connection

[2018-02-07 13:18] Nyasak commented on #105
I am facing a similar issue as above but i still cant get my connection to work, still getting connection refused

docker run  -i -d --name=restcomm-myInstance -e RCBCONF_STATIC_ADDRESS="your_ip" -e ENVCONFURL="https://raw.githubusercontent.com/RestComm/Restcomm-Docker/master/env_files/restcomm_env_locally.sh" -p 80:80 -p 443:443 -p 9990:9990 -p 5060:5060 -p 5061:5061 -p 5062:5062 -p 5063:5063 -p

[2018-02-07 15:06] gsaslis commented on #105
@Nyasak can you please check out the updated [Docker Quick Start Guide](https://www.restcomm.com/docs/connect/configuration/docker/Restcomm%20-%20Docker%20Quick%20Start%20Guide.html#restcomm-docker)?

This now uses `docker-compose` and should be easier to get set up.

As to the value of the IP, you should be running with `--net=host` on linux, in which case, (I think) it should be the VM box IP (a

[2018-02-07 15:06] #105 closed

[2018-02-08 07:38] Nyasak commented on #105
@gsaslis  i tried docker-compose and it works well, thanks. Will raise any issue if i encounter any as i proceed with the project

[2018-02-08 08:10] gsaslis commented on #105
thanks for taking the time to report back @Nyasak .